# Isi dengan credential dari Google Cloud Console (OAuth 2.0 Client ID)
GOOGLE_CLIENT_ID=isi_client_id_google
GOOGLE_CLIENT_SECRET=isi_client_secret_google

# Wajib untuk NextAuth
NEXTAUTH_SECRET=isi_string_random_rahasia
NEXTAUTH_URL=http://localhost:3000
